<p id="notice"><%= notice %></p>
<script src="//maps.google.com/maps/api/js?v=3.23&key=AIzaSyC2MX5MhAPxc6UfbQcCKH7zGQoDRk77unk"></script>
<script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Schedule:</strong>
  <%= @event.schedule %>
</p>

<p>
  <strong>Venue:</strong>
  <%= @event.venue %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>

<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'>
  </div>
</div>

<script>
var handler = Gmaps.build('Google');
handler.buildMap({ internal: {id: 'map'}}, function(){
  var markers = handler.addMarkers(<%=raw @map_json.to_json %>);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
});
</script>